<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>Event Mail</h2>
      <%= form_with url: group_send_mail_path(@group),method: :post do |f| %>
        <div class="form-group">
            <%= f.label :title, 'Title' %>
            <%= f.text_field :title, class: 'form-control'%>
            </div>
        <div class="form-group">
            <%=f.label:content, 'Content' %>
            <%= f.text_area :content, class: 'form-control' %>
        </div>
        <div>
        <%= f.submit'é€ä¿¡', class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>